/*Estilização*/
body {
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    text-align: center;
    
}
div {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

} 